<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs'); %>
    <title><%=title %></title>
</head>

<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>this is about html</h1>  
</body>
</html>