<!DOCTYPE html>
<head lang="en">
<head>
    <%- include('../partials/head.ejs'); %>

    <title> <%=title%></title>
</head>


<body>
    <%- include('../partials/nav.ejs'); %>
    <h1>this is index </h1>
</body>
</html>